@import '~@angular/material/theming';
$config: mat-typography-config();

.owl-date-time {

align-self: center;
font-size: mat-font-size($config, headline);
font-family: mat-font-family($config);
}

.fonts{
    font-size: mat-font-size($config, headline);
    font-family: mat-font-family($config);
}

.mymain{
    width: 80%;
    float: right;
}

#graph {
    position: relative;
    align-self: center;
}