<div class="mymain">
        <div ><md-sensor-graph [dataTimeRange]="dataTimeRange"></md-sensor-graph>
        </div>
        <div class="flex" style="padding-left: 20%;">
                <label class="fonts">Selected Timespan:</label>
                <input placeholder="Data Time Range:"
                   [style.width]="'500px'"
                   [max]="today"
                   class="fonts"
                   [min]="annoDomini"
                   [selectMode]="'range'"
                   [owlDateTimeTrigger]="dtRange"
                   [owlDateTime]="dtRange"
                   [(ngModel)]="dataTimeRange"
                   style="text-align: center;">
            <owl-date-time #dtRange></owl-date-time>
        </div>
</div>
    
