<div>
    <div><md-sensor-graph [dataTimeRange]="dataTimeRange"></md-sensor-graph>
    </div>
    <div>
        <label>
        <div>
                <label class="fonts" >Selected Timespan:</label>
                <input [(ngModel)]="dataTimeRange"
                    placeholder="Data Time Range:"
                   [style.width]="'350px'"
                   [max]="today"
                   [min]="annoDomini"
                   [selectMode]="'range'"
                   [owlDateTimeTrigger]="dtRange"
                   [owlDateTime]="dtRange"
                   class="fonts"
                   size=180px>
            <owl-date-time class="fonts" #dtRange></owl-date-time>
        </div>
        </label>
    </div>
</div>
    
