<mat-sidenav-container>
        <mat-sidenav #sidenav mode = "side" opened>
            <div class = "sidenav-header">
                <button mat-button (click) = "sidenav.close()">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <h2 style="text-align: center;">Actual Sensor Data</h2>
                <md-sensors-actual></md-sensors-actual>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
            <md-span-selection></md-span-selection>
            <button type="button" mat-fab (click)="sidenav.open()" color="primary">
                    <mat-icon>arrow_back</mat-icon>
            </button>
        </mat-sidenav-content>
</mat-sidenav-container>
