
<!-- TODO ChartDataLength is hard coded, must be set to count of sensors -  
  This solution is for updating options after all data is fetched -->
  <div>
  <mat-toolbar>
        <span class='title-center'>
            <h1 class="fonts">{{graphTitle}}
            </h1>
        </span>
  </mat-toolbar>
  <div class="flex">
    <div class="flex-item" style="margin-left: 40px; margin-bottom: 40px; margin-right: 40px"
    *ngIf="lineChartData.length === 3">
      <canvas baseChart height="40%" width="100%"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  ></canvas>
    </div>
  </div>
</div>
