
<!-- condition for first data fetch must be revised  
  solution for updating otions after all data is fetched? -->
<mat-toolbar>
        <span class='title-center'>{{graphTitle}}</span>
</mat-toolbar>
<div class="flex">
    <div class="flex-item" *ngIf="lineChartData.length === 3">
      <div style="width: 100%;">
      <canvas baseChart height="40%" width="100%"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  ></canvas>
      </div>
    </div>
  </div>